@use "../../styles/themes" as *;
@use "../../styles/variables" as *;
.container {
  padding: 0 1.5rem 2rem;
}

.heading {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.button {
  margin-top: 1rem;
}
@media (max-width: $breakpoint-lg) {
  .container{
    padding: 0 0 2rem;
    margin-top: 20px;
  }
 }
@media (max-width: $breakpoint-sm) {
  .question_types{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}