.card {
  position: relative;
  margin-top: 16px;

  .removeBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover .removeBtn {
    opacity: 1;
  }
}
.input{
  width: 96%;
  margin-bottom: 10px;
}
.select{
  margin-right: 20px;
}