.card {
  position: relative;
  margin-top: 10px;

  .removeBtn {
    position: absolute;
    top: 20px;
    right: 12px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover .removeBtn {
    opacity: 1;
  }
}
.blockForImage{
  display: flex;
  margin-bottom: 10px;
}
.input{
  width: 96%;
  margin-bottom: 10px;
}
.select{
  margin-right: 20px;
}
.addOptionBtn{
  padding: 15px 15px;
  border-radius: 5px;
  margin-top: 8px;
}
.optionInput{
  width: 96%;
  margin: 10px 0;
}
.optionRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}