@use "../../styles/themes" as *;

.descriptions{
  margin-bottom: 10px;

}
.card{
  width: 96%;
  padding: 1rem;
  margin: 0 auto 40px auto;
  background-color: var(--bg-card-color);
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons{
  display: flex;
  gap: 10px;
}