@use "../../styles/themes" as *;
@use "../../styles/variables" as *;

.descriptions{
  margin-bottom: 10px;
}

.card{
  width: 96%;
  padding: 1rem;
  margin: 0 auto 40px auto;
  background-color: var(--bg-card-color);
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons{
  display: flex;
  gap: 10px;
}
.title_text{
  font-size: $font-size-lg!important;
}

@media (max-width: $breakpoint-sm) {
  .card :global .ant-card-body{
    padding: 5px 12px 12px;
  }
  .card{
    margin-top: 20px;
  }
  .tags :global .ant-tag{
    margin-top: 5px;
  }
 }