@use "../../../styles/variables" as *;
.logo{
  color: var(--text-color);
  font-size: $font-size-xl;
  margin-left: $spacing-md;
}

@media (max-width: $breakpoint-md) {
  .logo {
    margin-left: 0;
  }
}