@use "../../styles/themes" as *;
@use "../../styles/variables" as *;

.container{
  padding: 0 5rem;
}
.title{
  color: var(--text-color)!important;
  margin: 0!important;
}
.brief_info{
  display: flex;
  align-items: center;
  gap:20px;

  p{
    margin: 0;
    font-size: 16px;
  }
}
.tabs{
  :global{
    .ant-tabs-tab-btn{
      color: var(--text-color)!important;
    }
  }
}
@media (max-width: $breakpoint-md) {
  .container {
    padding: 1rem;
  }
}
