@use "../../styles/themes" as *;
@use "../../styles/variables" as *;

.results{
  color: var(--text-color) !important;
  margin-top: 0;
}
.filters{
  background-color: var(--bg-card-color);
}
.resultsContainer{
  margin-bottom: 50px;
}
@media (max-width: $breakpoint-sm) {
  .container{
    margin-top: 30px;
  }
  .resultsContainer{
    margin-top: 30px;
  }
}