@use "../../styles/themes" as *;
@use "../../styles/variables" as *;

.container{
  padding: 28px 80px;
}
.card{
  margin-bottom: 32px;
  background-color: var(--bg-card-color);
}
.title, .description{
  color: var(--text-color)!important;
}
.description p{
  font-size: 14px;
}
.pie{
  display: flex;
  justify-content: center;
}
:global [data-chart-source-type="Ant Design Charts"] {
    flex: none!important;
}
@media (max-width: $breakpoint-sm) {
  .container {
    padding: 0;
    margin-top: 20px;
  }
}

